.image
{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	

}
.button
{
	width: 170px;
	height: 25px;
	position: absolute;
	top: 80%;
	left: 50%;
	margin-left:-85px;
}
.button2
{
	width: 190px;
	height: 25px;
	position: absolute;
	top: 90%;
	left: 50%;
	margin-left:-95px;
}
.wrap
{
	height: 300px;
border: 1px solid red;
width: 400px;
position: relative;
top: 50%;
left: 50%;
margin-top: -150px;
margin-left: -200px;
}
